# MySQL (Aiven) 連線資訊
DB_HOST=your_aiven_mysql_host_url
DB_PORT=18053
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_NAME=defaultdb
DB_SSL=true

# AWS S3 連線資訊
AWS_REGION=ap-northeast-1
AWS_BUCKET_NAME=piggo-app-storage-2026
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key